.blocklyTreeRow {
  height: 30px !important;
  line-height: 30px !important;
}

div#\:1 {
  background-color: #264653 !important;
  padding: 10px !important;
  color: #FFFFFF !important;
}

div#\:1 .blocklyTreeRow:hover {
  background-color: #172B33 !important;
}

div#\:1 .blocklyTreeSelected {
  background-color: #172B33 !important;
}

div#\:2 {
  background-color: #2A9D8F !important;
  padding: 10px !important;
  color: #FFFFFF !important;
}

div#\:2 .blocklyTreeRow:hover {
  background-color: #1E7268 !important;
}

div#\:2 .blocklyTreeSelected {
  background-color: #1E7268 !important;
}

div#\:3 {
  background-color: #E9C46A !important;
  padding: 10px !important;
  color: #FFFFFF !important;
}

div#\:3 .blocklyTreeRow:hover {
  background-color: #AD924E !important;
}

div#\:3 .blocklyTreeSelected {
  background-color: #AD924E !important;
}

div#\:4 {
  background-color: #F4A261 !important;
  padding: 10px !important;
  color: #FFFFFF !important;
}

div#\:4 .blocklyTreeRow:hover {
  background-color: #B27747 !important;
}

div#\:4 .blocklyTreeSelected {
  background-color: #B27747 !important;
}

div#\:5 {
  background-color: #E76F51 !important;
  padding: 10px !important;
  color: #FFFFFF !important;
}

div#\:5 .blocklyTreeRow:hover {
  background-color: #B2553E !important;
}

div#\:5 .blocklyTreeSelected {
  background-color: #B2553E !important;
}
